<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
<<<<<<< HEAD
=======
    <strong>Publisher:</strong>
    <%= book.publisher_id %>
  </p>

  <p>
>>>>>>> 1a0d1db5c10aba70877b8d486c9c5332127faf45
    <strong>Category:</strong>
    <%= book.category_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

<<<<<<< HEAD
=======
  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

>>>>>>> 1a0d1db5c10aba70877b8d486c9c5332127faf45
</div>
